<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Carlos</title>

  <!-- Bootstrap -->
  <link href="../assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/stylesheets/animate.css">
  <link rel="stylesheet" href="../assets/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/stylesheets/jquery.bxslider.css">
  <link href="../assets/stylesheets/style.css" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
        <a class="navbar-brand" href="index.html"><span><i class="anchor icon"></i><i class="balance scale icon"></i></span></a>
      </div>
      <div class="navbar-collapse collapse">
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href = "mailto: carlosamador16@me.com">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="breadcrumb">
    <h2>CARLOS AMADOR</h2>
  </div>
  <div class="ourstory">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
		  <div class="ui main container segment">
        <img  style="width: 100%;
    height:auto;"class="ui centered large rounded image" src="../img/portfolio/CarlosandGirl.jpg" alt="" class="img-responsive" />
		  </div>
        <p>
          I have known Carlos for over 11 years and I have known him to be a motivational person of integrity, hard work and grit. I have never worked with someone that inspires consumers to purchase while developing a sense of trust and mutual vision to fulfill there needs like he has. 
I, as his friend, always respected his integrity, drive and his devotion to the job, our friendship and for his family. As long as I have known Carlos, four traits have always come to mind that have defined his character and inspired me and others around him into achieving higher standards of success. These traits are: Motivation, Integrity, Love for Family, and his Vision.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="col-md-4">
      <img class="ui centered large rounded image" src="../img/bike.jpg" alt="" class="img-responsive" />
    </div>
    <div class="col-md-8">
      <h2>MOTIVATION</h2>
      <p>
       Carlos's motivation is the force behind his determination and unrelenting work ethic. When I first had the pleasure of working with him he was making 160 phone calls in an 8 hour day working in a call center. His attitude for achieving success was never a choice, it was a way of life. His mentality to seek out challenges to grow, refine and overcome has always been inspiring to me. No matter his accomplishments in the call center over a decade ago, being recognized as the most reliable mechanic when working on Strykers for General Dynamics or being the top salesman working at a car dealer ship, Carlos continues to push the edge of his abilities because he has what I have come to observe, a commitment to visualizing success turning experiences into opportunities.
      </p>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="col-md-8">
      <h2>INTEGRITY</h2>
      <p>
        Carlos has always been a man of his word. I have only ever known him to do the right thing regardless of recognition. When working together on the phones, although competing, he would provide me with advice to allow me to be more competitive and to score higher on my evaluations. When we worked together as mechanics, he tightened every bolt to regulation. He is very by the book when it comes to other people's safety. When others would toe to line whenever the manager was there, so too would Carlos. 
      </p>
		<p>
			The difference that makes him a leader, is when the manager was not present, Carlos would still toe-to-line, always be on time and he never took short cuts. He never sold himself short or other people especially when quality was at stake. He never was of the kind to do "just enough" to get by. Integrity is a virtue that Carlos takes seriously. He wouldn’t sell you a car if he felt that the car was not up to par. I know this first hand and because of that I trust him with my hard earned money and time.
		</p>
    </div>
    <div class="col-md-4">
      <img class="ui centered large rounded image" src="../img/soldier.jpg" alt="" class="img-responsive" />
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="col-md-4">
      <img class="ui centered large rounded image" src="./img/family.jpg" alt="" class="img-responsive" />
    </div>
    <div class="col-md-8">
      <h2>FAMILY</h2>
      <p>
     Carlos is a family man first through and through. Carlos is a caring father and works very hard to provide for his family and to instill respectable values in his children. He associates himself with people of excellent character and equal values. Hard work and getting things done right the first time and not stopping until the job is done is his signature DNA. He sets examples for his kids by being a remodel and I always believed this is one of many qualities that made him a great person, father, employee and manager wherever he worked.
      </p>
    </div>
  </div>
  <hr>
  <div class="profile">
    <div class="container">
      <div class="col-md-8">
        <h2>VISION</h2>
        <p>
     Being flexible to diversity is a soldier’s trait. Carlos is no exception. As long as I have known him, I have always understood that it was clear he has a vision of what it takes to succeed in any situation, no matter the difficulty. His shared vision, be it imparted in a call center or as a mechanic, was always essential to my success and for the employees he worked with including the management.
        </p>
		  <p>
			  His vision has always provided a target in which a leader can focus there resources and energy efficiently. He has a way of talking and successfully selling products to people whether by phone or in person  that makes people's needs felt heard and cared about. He visualizes creating goals that both consumer and producers share for a mutually bright future that through integrity, provide benefit for his family, the company, and the customers he works for and with.
		  </p>
      </div>
      <div class="col-md-4">
        <img class="ui centered large rounded image" src="../img/joshua-earle-ICE__bo2Vws-unsplash.jpg" alt="" class="img-responsive" />
      </div>
    </div>
  </div>

  <footer>
    <div class="inner-footer">
      <div  class="container">
        <div class="row">
          <div class="col-md-4 f-about">
            <a href="index.html"><h1>QUOTE</h1></a>
            <p>"Life has no limitations, except the ones you make."</p>

          </div>
      

          <ul class="social-network">
            <li><a href="#" data-placement="top" title="Facebook"><i class="large facebook icon"></i></a></li>
            <li><a href="#" data-placement="top" title="Twitter"><i class="instagram icon large"></i></a></li>
            <li><a href="#" data-placement="top" title="Linkedin"><i class="linkedin icon large"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../assets/javascript/jquery-2.1.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../assets/javascript/bootstrap.min.js"></script>
  <script src="../assets/javascript/wow.min.js"></script>
  <script src="../assets/javascript/jquery.easing.1.3.js"></script>
  <script src="../assets/javascript/jquery.bxslider.min.js"></script>
  <script src="../assets/javascript/jquery.isotope.min.js"></script>
  <script src="../jquery.fancybox.pack.js"></script>
  <script src="../assets/javascript/functions.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>

</body>

</html>
